Django>=4.0,<5.0
requests
simplejson
python-dateutil
pymongo
psycopg2-binary
pymysql
mysql-replication
django-q
django-redis
pyecharts
django-mirage-field
parsedatetime
sshtunnel
pycryptodome
djangorestframework
djangorestframework-simplejwt
django-filter
drf-spectacular
pyotp
pillow
qrcode
django-environ
